h2 a {
  margin-left: .2em;
  font-size: 14px;
  font-style: italic;
  text-decoration: none;
  color: #999;
}

h2 a:hover,
h2 a:focus {
  color: #2196f3;
  text-decoration: underline;
}

h2 a:active {
  color: #1976d2;
}

textarea {
  box-sizing: border-box;
  width: 550px;
  min-height: 100px;
  padding: 1px 5px;
  font-size: 14px;
  line-height: 1.3;
  resize: vertical;
}

textarea:focus {
  border-color: #4fc3f7;
  box-shadow: #4fc3f7 0 0 4px;
}
